*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:#0f172a;
color:white;

min-height:100vh;

}

#app{

display:flex;

min-height:100vh;

}

.topbar{

position:fixed;

top:0;

left:220px;

right:0;

height:70px;

background:#111827;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 25px;

border-bottom:1px solid rgba(255,255,255,.08);

z-index:100;

}

.sidebar{

position:fixed;

left:0;

top:0;

width:220px;

height:100vh;

background:#111827;

padding-top:90px;

display:flex;

flex-direction:column;

gap:12px;

border-right:1px solid rgba(255,255,255,.08);

}

.sidebar button{

margin:0 15px;

padding:14px;

border:none;

border-radius:14px;

background:#1f2937;

color:white;

font-size:15px;

cursor:pointer;

transition:.3s;

}

.sidebar button:hover{

background:#FFD54F;

color:#111;

}

#content{

margin-left:220px;

margin-top:70px;

padding:30px;

width:100%;

}/
